<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web based podcast player">
    <meta name="author" content="Pablo Luaces Presas <pablo.luaces@gmail.com>">
    <title>Podcaster - Another podcast player</title>
    
    <!-- build:template
    <% if (environment === 'dev') { %>
    <base href="/podcaster/dev/" />
    <% } else { %>
    <base href="/podcaster/dist/" />
    <% } %>
    /build -->

    <link rel="icon" href="./resources/img/favicon.ico" />
    <!-- build:template
    <% if (environment === 'dev') { %>
    <link rel="stylesheet" href="./resources/css/podcaster.merged.css" />
    <% } else { %>
    <link rel="stylesheet" href="./resources/css/podcaster.merged.min.css" />
    <% } %>
    /build -->
  </head>
  <body>
    <!-- build:include templates/application.html -->
    <p>Execute in terminal/console:</p>
    <code>npm install<code>
    <p>then</p>
    <code>grunt development<code>
    <p>or</p>
    <code>grunt production<code>
    <!-- /build -->
    <!-- build:include templates/podcasts.html --><!-- /build -->
    <!-- build:include templates/details.html --><!-- /build -->
    <!-- build:include templates/episode.html --><!-- /build -->

    <!-- build:template
    <% if (environment === 'dev') { %>
    <script src="./resources/js/podcaster.merged.js"></script>
    <% } else { %>
    <script src="./resources/js/podcaster.merged.min.js"></script>
    <% } %>
    /build -->
  </body>
</html>
